html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 8em;
	padding-top: 4.5em;	
	background-color: #05001f;
	
}

p {
	color: #606060;
}

h1, h2, h3, h4, a, b, strong {
	color: #E71898;
}

.list-group-item {
	background-color: #202020;
}

a.label.label-default, a.btn.btn-default, a.btn.btn-default:focus, a.btn.btn-default::selection {
	background-color: #303030;
	color: white;
	border: #05001f;
}

a.label.label-default:hover, a.btn.btn-default:hover {
	background-color: #E71898;
	color: white;
}

li {
	color: #E71898;
}


.container {
	font-size: 1.3em;
}

.jumbotron {
	background: #05001f;
}

.jumbotron h1 {
	color: #E71898;
	letter-spacing: 0.2em;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.footer {
	position: absolute;
	padding-right: 1em;
	padding-top: 1.5em;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 8em;
	background-color: #303030;
	bottom: 0;
}

.footer-links {
	margin: 0 0 0 0em;
	padding: 0;
	float: right;
	text-align: right;
}

.footer-links>li {
	padding-right: 1em;
	display: inline-block;
}

.navbar-default {
	background-color: #303030;
	border-color: #E71898;
	text-transform: uppercase;
	font-size: 1.3em;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
	{
	color: #ffffff;
}

.navbar-default .navbar-text {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #ffffff;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
	background-color: #303030;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
	color: #ffffff;
	background-color: #E71898; 
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>.divider {
	background-color: #E71898;
	
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
	color: #ffffff;
	background-color: #E71898;
	
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #ffffff;
	background-color: #E71898;
	
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	color: #ffffff;
	background-color: #E71898;
	
	
}

.navbar-default .navbar-toggle {
	border-color: #E71898;
	
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #E71898;
	
	
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #05001f;
	
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #ffffff;
	
}

.navbar-default .navbar-link {
	color: #ffffff;
	
}

.navbar-default .navbar-link:hover {
	color: #ffffff;
	
}

@media ( max-width : 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ffffff;
		
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #ffffff;
		background-color: #E71898;
	}
}
